<!DOCTYPE html>
<html>
<body>

<h1>Please fill below detail to see the form</h1>

<form action="Sale_Deed_Drafting_main.html">
<p>Please select type of seller:</p>
<input type="radio" id="seller_type_person" name="seller_type" value="person">
<label for="seller_type_person">Person/Persons</label><br>
<input type="radio" id="seller_type_builder" name="seller_type" value="builder">
<label for="seller_type_builder">Builder</label><br>
  <br>  

  <p>Please select type of purchaser:</p>
  <input type="radio" id="purchaser_type_person" name="purchaser_type" value="person">
  <label for="purchaser_type_person">Person/Persons</label><br>
  <input type="radio" id="purchaser_type_builder" name="purchaser_type" value="builder">
  <label for="purchaser_type_builder">Builder</label><br>
<br> 

  <p>Please select your property type:</p>
  <input type="radio" id="property_type_land" name="property_type" value="flat">
  <label for="property_type_land">Land</label><br>
  <input type="radio" id="property_type_flat" name="property_type" value="land">
  <label for="property_type_flat">Flat/Apartment</label><br>  
 <br>

 No: of seller (incase of person)<input id="sellerNbr" name="sellerNbr" type="text"></input>
 No: of Purchaser (incase of person)<input id="purchaserNbr" name="purchaserNbr" type="text"></input>  
  <br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
