numpy
scipy
pandas
scikit-learn
seaborn
matplotlib
plotly

streamlit
Flask==2.3
Flask-RESTful==0.3.9
Django==4.2
djangorestframework==3.14
mysqlclient==2.0.3  # For MySQL

# Java script package managers like npm or yarn.
