#2.1.0
numpy
#1.14.1
scipy
#2.2.2
pandas
#1.5.1
scikit-learn
#0.13.2
seaborn
#3.9.2
matplotlib
#5.24.0
plotly

#1.38.0
streamlit
# 2.3.0
Flask
# 0.3.9
Flask-RESTful
# 4.2
Django
#3.14.0
djangorestframework
#2.0.3
mysqlclient
pytest
# Java script package managers like npm or yarn.
