.app__footer{
    margin-top: 30.8%;
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.app__copyright{
    padding-top: 20px;
    background-color: bisque;
    text-align: center;
}

.app_navigations{
    padding-top: 20px;
    background-color: bisque;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
