.app__header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-evenly;
    background-color: bisque;
    padding-bottom: 30px;
}
  
.app__login{
    margin-left: 400px !important;
}
  
.app__signup{
    margin-right: 50px !important;
}